.AllBands {
  position: relative;
  width: 100%;
  text-align: center;
  }

.AllBands .AllBands-title {
  text-decoration: none;
  color: #000;
}

.AllBands h1 {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-weight: lighter;
  background-color: #041c3676;
  padding: 1rem;
  text-align: left;
}

.AllBands .AllBands-info {
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: right;
}

.AllBands .AllBands-info div {
	display: inline-block;
	padding: 0.25em 0.5em;
	background-color: #ffecd186;
}

.AllBands img {
  width: 100%;
  height: 300px;
}

.AllBands a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}