.VenueDetails {
	display: flex;
	width: 960px;
	margin: auto;
	height: 100vh;
	color: #041c36;
}

.VenueDetails .VenueDetails-info {
	flex: 1;
	text-align: left;
	padding: 0 1em;
}

.VenueDetails .VenueDetails-title {
	font-size: 2em;
	margin: 0;
}

.VenueDetails .VenueDetails-image {
	flex: 2;
}

.VenueDetails .VenueDetails-image img {
	width: 100%;
    padding-bottom: 40px;
}

.VenueDetails .VenueDetails-hours {
	font-size: 1.5em;
}

.VenueDetails a {
    text-decoration: none;
	color: #041c36;
}

.VenueDetails  a:hover {
    text-decoration: underline;
    color: #041c36;
}