.RandomBand {
    background: #041c36;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #041c36;
    border-radius: 20px;
    padding: 14px 14px;  
    font-size: 1rem;
}


.RandomBand:hover {
    background: white;
    color: #041c36;
    cursor: pointer;
}